
.profilePhoto{
    height: 100%;
    width: 100%;
    border-radius: 15%;
}
.profileInfo{
    margin: 1em 10px;
}
.contact{
    margin-left: 1.5em;
}
.imgDiv{
    width: 33%;
    margin: 0 auto;
    height: 33%;
}
.fileInput{
    margin: 0 auto;
}
